<html>
<head>
  <title> for "YOU ARE FAKE NEWS" activity </title>
</head>
<body>
  <h1 style="color:red;text-align:left"> You Are Fake News</h1>
  <p>
One proactive approach to combat the spread of misinformation is to roleplay a fake-news creator, so that we can learn and dissect common misleading techniques...
</p>
  <hr size="10" width="100%">  
  <div id ="CharDisplay">
    <!-- Chararacter Information -->
  </div>
  <button onclick="newChar()">New Identity</button>

  <script src="javascript.js"></script>
  
<hr size="10" width="100%">  
  <div id ="techniqueDisplayA">
    <!-- Technique Information -->
  </div>
  <button onclick="newTechniqueA()">First Technique to Use</button>
    <hr size="10" width="100%">  
  <div id ="techniqueDisplayB">
    <!-- Technique Information -->
  </div>
  <button onclick="newTechniqueB()">Second Technique to Use</button>
    <hr size="10" width="100%">  
  <div id ="techniqueDisplayC">
    <!-- Technique Information -->
  </div>
  <button onclick="newTechniqueC()">Third Technique to Use</button>
  <script src="javascript.js"></script>
    <hr size="10" width="100%">  
<p> Note: (1) the fake-news creators' bios were adapted from https://www.beforetheflood.com/; (2) the misleading techniques were adapted from https://skepticalscience.com/history-FLICC-5-techniques-science-denial.html; and (3) for more general information on the continued influence effect of misinformation, check out https://www.climatechangecommunication.org/debunking-handbook-2020/
  </p>
  
 <iframe src="https://liqiantay.shinyapps.io/simplemisinfo/" style="border: none; width: 100%; height: 850px" frameborder="0"></iframe>

</body>
</html>
