<html>
<head>
  <title> Random Identity Allocator for "YOU ARE FAKE NEWS" </title>
</head>
<body>
  <h1 style="color:red;text-align:left"> You Are Fake News</h1>
  <p>
One proactive approach to combat the spread of misinformation is to roleplay a fake-news creator, so that we can learn and dissect common misleading techniques...
</p>
  <div id ="CharDisplay">
    <!-- Chararacter Information -->
  </div>
  <button onclick="newChar()">New Identity</button>

  <script src="javascript.js"></script>
  
<hr size="10" width="100%">  
  <p>
Note: (1) for more information on the continued influence effect of misinformation, check out https://www.climatechangecommunication.org/debunking-handbook-2020/; and (2) the fact-news creators' bios were adapted from https://www.beforetheflood.com/
</p>
</body>
</html>
